@model PartsUnlimited5.Web.Models.Product

@{
    ViewData["Title"] = "Product Details";
}

<h1>Details</h1>

@*<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SkuNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SkuNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SalePrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SalePrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductArtUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductArtUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductDetails)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductDetails)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LeadTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LeadTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer.CreatedByUserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedByUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedByUser.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastModifiedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastModifiedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastModifiedByUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastModifiedByUser.Id)
        </dd>
    </dl>
</div>*@

<section style="background-color:#c3c3c3;">
    <h2>@Model.Title</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="details-panel">

                <img class="img-fluid" src="/images/@Model.ProductArtUrl" alt="12-Volt Calcium Battery">
            </div>
        </div>
        <div class="col-md-8">
            <div>
                <h5>USD $@Model.Price</h5>
            </div>
            <div>
                <h4>Description</h4>
                <p class="text-content">@Model.Description</p>
            </div>

            <a disabled href="#" class="btn">Add to Cart [disabled]</a>
        </div>
    </div>
</section>

<div>
    <a asp-controller="Inventory" asp-action="Browse" asp-route-category="All">Back to List</a>
</div>
