@model PartsUnlimited5.Web.Models.Store

@{
    ViewData["Title"] = "StoreWithProducts";
}

<h1>Store: @Html.DisplayFor(model => model.Name)</h1>

<div>
    <h4>Current Inventory</h4>

    <div class="row">
        @foreach (var inventory in Model.Inventory)
        { 
            <div class="col-md-3">
                <a asp-controller="Products" asp-action="Details" asp-route-id="@inventory.Product.Id">
                    <div class="card">
                        <div class="card-header card-header-dim">
                            <span style="font-weight: bold; font-size:18px;">@inventory.Product.Title</span>
                        </div>
                        <div class="card-body">
                            <img class="img-fluid" src="/images/@inventory.Product.ProductArtUrl" alt="@inventory.Product.Title" /><br />
                            <span>Hurry: Only @inventory.QuantityOnHand left!</span>
                        </div>
                        <div class="card-footer">
                            <span style="font-weight: normal; font-size:16px;">@inventory.Product.Price.ToString("C")</span>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
